{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
    <h1>My Learning Pods</h1>

    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p><a href="{% url "suser_course_detail" course.id %}">
                Access contents</a></p>
            </div>
        {% empty %}
            <p>
                You are not joined to any Learning Pod yet.
                <a href="{% url "course_list" %}">Browse Learning Pods</a>
                to join a Learning Pod.
            </p>
        {% endfor %}
    </div>
{% endblock %}