{% extends "base.html" %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <h1>
        {{ module.title }}
    </h1>
    <div class="contents">
        <h3>Pod Modules</h3>
        <ul id="modules">
            {% for m in object.modules.all %}
                <li data-id="{{ m.id }}" {% if m == module %} class="selected"{% endif %}>
                    <a href="{% url 'suser_pod_detail_module' object.id m.id %}">                   
                        <br>
                        {{ m.title }}
                    </a>
                </li>
            {% empty %}
                <li>No modules yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% for content in module.contents.all %}
            {% if content.content_type_id == 6 %}
                {% with item=content.item %}
                    {{ item.render }}
                    <p><i>{{ item.title }}</i></p>
                {% endwith %}
            {% else %}
                {% with item=content.item %}
                    <h3><b>{{ item.title }}</b></h3>
                {{ item.render }}
                {% endwith %}           
            {% endif %}    
        {% endfor %}
    </div>

    <br/><br/>
    <br/>
    <form action="{% url 'like_pod' pod.pk %}" method = "POST">
        {% csrf_token %}
        <button type="submit", name="pod_id", value="{{ pod.id }}", class="taggit" style="background-color: rgb(82, 156, 3)">Like</button> - {{ pod.total_likes }} Likes
    </form>

{% endblock %}