{% extends "base.html" %}

{% block content %}
    <center>
        {% if searched %} 
            <h1>You Searched For {{ searched }} </h1>
            <br/>
            {% for course in courses %}
                <h3>
                    <a href="{% url "course_detail" course.slug %}">
                        {{ course.title }}
                    </a>
                </h3>
                <p>
                    <a></a>.
                        {{ course.total_modules }} modules.
                        Instructor: {{ course.owner.get_full_name }}
                </p>
            {% endfor %}
        {% else %}
            <h1>You forgot to write any course name... :(</h1>
        
        {% endif %}
        
    </center>


{% endblock %}